.pagination {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;

  li {
    &.selected {
      font-weight: 700;
      color: $text-accent;
    }

    a {
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
